logs/
npm-debug.log
yarn-error.log
node_modules/
package-lock.json
yarn.lock
coverage/
dist/
.idea/
run/
.DS_Store
*.sw*
*.un~
.tsbuildinfo
.tsbuildinfo.*
config.local.ts
config.prod.ts
ecosysytem.config.js

.DS_Store
.nuxt/

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

config.json
yarn-error.log*
nginx.conf
ssl/*.crt
ssl/*.pem
ssl/*.csr
ssl/*.key
nuxt.config.js

unpackage/

cert/*.p12
cert/*.pem